{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Legend::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Legend::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Legend::ItemList.Components.ItemSearch" ) }}
{{ component( "Legend::WishList.Components.WishListCount" ) }}
{{ component( "Legend::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}

<div class="pl_topline">
  <div class="container-max">
    <div class="d-flex justify-content-center flex-wrap">
      <span class="item"><i class="fa fa-truck"></i> Lieferung in 1-3 Tagen (DE)</span>
      <span class="item"><i class="fa fa-gift"></i> Keine Versandkosten ab 30€*</span>
      <span class="item"><i class="fa fa-heart"></i><a href="tel:+4964037755030"> Fragen? +49 (0)6403 7755030</a></span>
    </div>
  </div>
</div>

{% set headerContainer = LayoutContainer.show("Ceres::Header") | trim %}
{% if headerContainer is empty %}
    {% include "Legend::PageDesign.Partials.Header.DefaultHeader" %}
{% else %}
<header id="page-header">
    {{ headerContainer | raw }}
</header>
{% endif %}

{% set scriptId = uid() %}
<script id="{{ scriptId }}">
    var vueApp = document.getElementById("vue-app");
    var pageHeader = document.getElementById("page-header");
    if ( !!vueApp && !!pageHeader )
    {
        vueApp.style.marginTop = pageHeader.getBoundingClientRect().height + 'px';
    }
    var scriptElement = document.getElementById("{{ scriptId }}");
    scriptElement.parentElement.removeChild(scriptElement);
</script>

<div>
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}
    <mobile-navigation
            navigation-tree-data="{{ categories | json_data }}"
            :initial-category="{{ initialCategory | json_encode }}"
            template="#vue-mobile-navigation">
    </mobile-navigation>
</div>
